﻿.contact-us #txtName,#txtContactEmail, #txtMessage,#txtContactNo{width:50%;}
.contact-us #txtContactNo{border-radius: 3px;background-color: #fff;box-shadow: inset 0 1px rgba(0,0,0,.1);border: solid 1px #d9d9d9;
                         padding: 5px;line-height: 20px; margin: 0 0 2% 1%;}
.contact-us #txtName, #txtContactEmail{margin:0 0 2% 6%;}
/*.contact-us #txtContactEmail{margin:0 0 2% 4%;}*/
.contact-us #txtMessage{margin:0 0 2% 3%;}
.contact-us #btnSubmit{margin-left: 11%;margin-bottom: 2%;float: left;}