﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ShippingCountryDetail.ascx.cs" Inherits="Modules_SanchiCommerce_AspxShipmentsManagement_ShippingCountryDetail" %>


<asp:Literal ID="ltrShippingDetails" runat="server">

</asp:Literal>