﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReviewHome.ascx.cs" Inherits="Modules_ReviewHome_ReviewHome" %>
<div class="cssClassProductDetailInformation">
    <asp:Literal ID="ltrDetailsForm" runat="server" EnableViewState="true" ></asp:Literal>
</div> 