﻿.cssClassSageSearchWrapper{/*margin:0; padding:7px 10px; display:inline-block;*/}
.cssClassSageSearchWrapper label{ cursor:pointer;}
.sfModuleSimpleSearch{ /*float:left;color:#fff;display:inline-block;*/}
#sfSearch .sfModule{ margin-bottom:0 }
#textCategories{float: left;width: 23%;padding: 8px;text-transform: uppercase;background: #0088cc;color: #fff;border: 1px #ccc;}
#sfFrontCategory {float:left;border-right: solid 1px #ccc;width: 20%;    background: #eee;}
#sfSimpleSearchCategory {font-size: 14px;border: none;box-shadow: none;width:100%;background:transparent}
#textCategories span{float: right;margin-top: 3px;}
#StaticNav ul li{float:left;padding-right:5px}
#StaticNav {padding-bottom:10px;float:left;margin-top: 22px;}
#StaticNav ul li a{padding-right: 5px;border-right: solid 1px #ddd;}
    #StaticNav ul {float:left}
    #sfBodyContent {
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 10px;
}#sfBodyContent .sfContainer {
    border-bottom: solid 1px #eaeaea;
}