﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HeaderTopSelectCity.ascx.cs" Inherits="Modules_SanchiCommerce_HeaderTopSelectCity_HeaderTopSelectCity" %>
<%-- added by jyoti for city selection.--%>
<div class="cssRegisLabel">
    <%-- <asp:DropDownList ID="ddlHeaderCity" runat="server" class="CityChange" Style="margin-bottom: 3px; height: 25px; margin-top: 3px; font-size: 11px;" onchange="CityWiseBanner(this)">
    </asp:DropDownList>--%>
    <select id="ddlHeaderCity" class="CityChange" style="margin-bottom: 3px; height: 25px; margin-top: 3px; font-size: 11px;" onchange="CityWiseBanner(this)">
    </select>
</div>
<div id="dialog" style="font-family: 'Hero'; display: none;">
    <div class="welcome" style="text-align: center; margin-top: 73px;">
        <h2>Welcome To kiranababu.com</h2>
        <h5>One Stop Solution For All Your Grocerry Needs</h5>
    </div>
    <div class="list" style="text-align: center; margin-top: 10px;">
        <h3>Select Your City:
                    <select id="listname" name="cities" style="width: 150px; text-align: center;">
                        <%--<option value="Purnia">Purnia</option>
                        <option value="Patna">Patna</option>
                        <option value="Other cities">Other cities</option>--%>
                    </select></h3>
    </div>
    <div class="leadingButton" style="text-align: center; padding: 10px;">
        <a id="btn" style="background-color: #069; color: #fff; padding: 4px 10px; font-size: 18px;">Next</a>
    </div>
</div>
<div id="dialog2" style="display: none; font-family: Hero; text-align: center; margin-top: 101px;">
    <h2 style="color: #08c; font-size: 18px">Our services are only availabel in Patna and Purnia</h2>
    <div class="leadingButton" style="margin-top: 27px;">
        <a id="btn2" style="background-color: #069; margin-left: 10px; color: #fff; padding: 4px 10px; font-size: 18px;">Next</a>
    </div>
</div>
<%--ended--%>


