﻿/*#sliderObj {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#sliderObj div.cat-slide-container-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#sliderObj div.cat-slide-container div.cat-slide-container-inner div {
  
    width: 100%;
}
#sliderObj div.cat-slide-container div.cat-slide-container-inner img {
    display: block;
    width: 100%;
}*/
#OrderSearch{
    margin: 10px 0 10px 0;
    width:98%;
}
.orderimage{
    margin-top:10px;
}
.orderimage img{
    width:100%;
}
#BtnOrderID{
    margin: 10px 0;
    border-radius: 5px;
}
#ClearBtn{
    margin: 0 5px;
    border-radius: 5px;
}
#OrderStatusResult{
    margin:10px 0;
}
.trackorder h2{
    margin-top:15px;
}